.about-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-about{
    color: #000;
font-family: Montserrat;
font-size: 61px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
.about-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;


}
.para-about{
    padding-left: 8rem;
}
.para-about1,.para-about2{
    color: #000;
font-family: Quicksand;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.para-about1{
    width: 642px;
height: 170px;
}
.para-about2{
    width: 760px;
height: 166px;
margin-top: -2.5rem;
}
.img-about-div{
    width: 900px;
    height: 481px;
    max-width: fit-content;
}
.img-about{
    width: 105%;
    margin-left: -4.4rem;
    margin-top: -3rem;
    max-width: fit-content;
}
.about-content-down{
display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    z-index: 1;

}
/* .about-content-down-bg{
    width: 600px;
    height: 1200px;
    margin-top: -6rem;
    z-index: -1;
    margin-left: rem;
} */
.all-aims{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 14rem;
}
.each-aim{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}
.each-aim-img{
    width: 170px;
    height: 170px;
    
}
.each-aim-img-2{
    width: 170px;
    height: 200px;
    margin-top: -2rem;
    
}
.each-aim-img-3{
    width: 170px;
    height: 200px;
    margin-top: -2rem;
}
.each-aim-title{
    color: #000;
font-family: Poppins;
font-size: 57px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: -0.5rem;
margin-top: -0.05rem;

}
.each-aim-desc{
    width: 395px;
    height: 142px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -3rem;
    margin-left: -6.2rem;
}

.events-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.all-upco-events{
    width: 100%;
}
.all-past-events{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: center; 
     align-items: center; 
     gap: 2rem;
}
.head-events{
    color: #000;
font-family: Poppins;
font-size: 75px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: -60rem;
}

.head-upco-events{
    color: #000;
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
margin-left: -9rem;
margin-top: -1rem;
}
.head-past-events{
    margin-left: 9rem;
    color: #000;
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;


}
.each-upco-events{
    width: 902px;
height: 406px;
    border-radius: 33.261px;
background: rgba(1, 166, 111, 0.18);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-left: 1rem;
padding-right: 2rem;
}
.each-upco-events-img{
    border-radius: 33.261px;
background: #FFC06E;
width: 80rem;
height: 353px;
}
.each-event-img{
    border-radius: 33.261px;
    width: 100%;
    height: 100%;
}
.each-upco-events-content{
    margin-left: 2rem;
    margin-top: -2rem;
}
.event-calendar-img{
    display: flex;
    width: 4%;
    margin-left: -2rem;
    margin-bottom: -1rem;
}
.btn-upco-events{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.reg-events-icon{
    display: flex;
    margin-top: 1.5rem;
    /* justify-content: center;
    align-items: center; */
}
.each-event-name{
    color: #000;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.each-event-details-info{
    color: #272E2B;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 163%; /* 22.82px */
margin-left: 2.5rem;
}
.each-event-details{
    color: #272E2B;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 163%; /* 22.82px */
margin-left: 0.5rem;
}
.reg-events{
    border-radius: 6px;
background: #0090E0;
width: 136px;
height: 33px;
}
.reg-events:hover{
    cursor: pointer;
}
.reg-events-para{
color: #FFF;
font-family: Poppins;
font-size: 16.879px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 0.7rem;
padding-top: 0.3rem;
}

.each-past-events{
    width: 360.211px;
    max-width: fit-content;
height: 358.2px;
border-radius: 44.909px;
background: #D1EFE5;
display: flex;
flex-direction: column;
justify-content: space-between;
/* align-items: center; */
padding-left: 1rem;
padding-top: 1rem;
}
.slide-image {
    width: 337.367px;
height: 209.398px;
border-radius: 44.909px;
/* background: #FFC06E; */
margin-left: 0.1rem;
  }
.each-past-event-img{
width: 337.367px;
height: 209.398px;
border-radius: 44.909px;
/* background: #FFC06E; */
margin-left: 0.1rem;
}
.each-event-past-name{
    color: #000;
font-family: Poppins;
font-size: 18.768px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: -1rem;

}
.event-calendar-past-img{
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: -2rem;
    margin-bottom: -1.3rem;
    margin-right: 8rem;
}
.event-member-past-img{
    align-items: center;
    width: 7%;
    margin-left: 10rem;
    margin-right: 0.8rem;
    margin-bottom: -0.3rem;
}
.each-event-past-details,.each-event-past-registered{
    color: #000;
font-family: Poppins;
font-size: 15.427px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 1rem;
}
.each-event-past-registered{
    margin-left: -6rem;
}
.patterns{
    margin-top: 17rem;
    max-width: fit-content;
}
.pattern{
    margin-left: -0.5rem;
}

.OurTeam-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-members{
    width: 100%;
    display: flex;
    flex-direction: column;
    
     justify-content: center; 
     align-items: center; 
    
}
.all-mem-up{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;    
     justify-content: center; 
     align-items: center;
}
.all-mem-down{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;    
     justify-content: center; 
     align-items: center; 
     margin-top: 8rem;
}
.each-mem-up-img{
    width: 310px;
height: 308.385px;
border-radius: 280px;
box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.25);
}
.each-mem-img{
    width: 200px;
height: 198.385px;
border-radius: 280px;
box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.25);
}
.head-our-team{
    color: #343434;
font-family: Poppins;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
margin-left: -55rem;
}
.each-mem-up-div-img{
    border-radius: 50%;
}
.each-mem-div-img{
    border-radius: 50%;
}
.each-mem-up-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.each-mem-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mem-up-name{
    color: #000;
font-family: Poppins;
font-size: 29px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.mem-name{
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.mem-up-designation{
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: -1rem;
}
.mem-designation{
    color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: -1rem;
}
.each-mem-social{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.head-our-partners{
    color: #E0E0E0;
font-family: Poppins;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
margin-left: -45rem;
margin-top: 10rem;
}
.our-partners-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #131313;
    margin-top: 10rem;
    padding-bottom: 6rem;
}
.all-partners-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
}
.each-part-grp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.ContactUs-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212121;
}
.head-ContactUs{
    color: #FFF;
font-family: Poppins;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: -50rem;
}
.both-ContactUs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-ContactUs{
    margin-left: 35rem;
}
.get-in-touch{
    color: #FFF;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.email-contactUs{
    color: #FFC06E;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: -1.5rem;
}
.head-socials{
    color: #FFF;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.socials-icons-ContactUs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.contactUs-down{
    margin-left: -65rem;
    margin-top: 8rem;
}
.img-logo-contactUsDown{
    margin-top: 0.4rem;
    width: 48px;
    height: 48px;
}
.para-logo-contactUsDown{
    color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Header-page{
    height: 103px;
    width: 100%;
    /* background: url('/public/Asset 3 1.png'), lightgray 50% ; */
    background-image: linear-gradient(#D8DFE5, #FEFEFE);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-right: 3rem;
}
.each-opt-nav p{
    color: #787878;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.each-opt-nav:hover{
    cursor: pointer;
}
.HeroSection-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -36rem;
}
.main-hero{
    margin-top: -40rem;
    margin-left: 8rem;
    z-index: 2;
    width: 100%;
}
.left-hero-p1{
    color: #E31B74;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 8.1rem;
}
.left-hero-p2,.left-hero-p3{
    margin-left: 8.1rem;
    color: #000;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: -4rem;
}
.left-hero-p4{
    margin-left: 8.1rem;
    color: #000;
font-family: Poppins;
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -3.7rem;
}
.left-top-border{
    opacity: 0.8;
    margin-top: -6.5rem;

    
}
.join-us-btn{
width: 178px;
height: 68px;
border-radius: 30px;
background: #E31B74;
margin-left: 8.1rem;
box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
.join-us-btn p{
    color: #000;
font-family: Poppins;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding-top: 0.4rem;
}
.join-us-btn:hover {
    background-color: #01A66F;
    transition: 0.7s;
}
.join-us-linking-button{
    width: 50px;
    height: 50px;
}
.join-us-linking-img{
    width: 4%;
    margin-left: 5rem;
    margin-right: 46rem;
    margin-top: -40rem;
    margin-bottom: 2.5rem;
}